.about{
    padding: 100px 0;
}
.about-content{
    border-bottom: 1px solid rgba(0,0,0,.2);
    padding-bottom: 25px;
    margin-bottom: 32px;
}
.about-content h2.name{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 35px;
    position: relative;
    color: #000;
    line-height: 1.1;
}
.about-content p.designation{
    font-family: montserrat;
    font-weight: 600;
    padding-top: 10px;
}
.about-summary p{
    padding-bottom: 12px;
}
.social ul {
    list-style: none;
    padding: 0 !important;
    margin: 0 !important;
}

.social ul li {
    display: inline-block;
    padding: 0 10px;
}