@keyframes avatar{
    0%{
        border-radius:60% 40% 30% 70%/60% 30% 70% 40%
    }
    50%{
        border-radius:30% 60% 70% 40%/50% 60% 30% 60%
    }
    100%
    {
        border-radius:60% 40% 30% 70%/60% 30% 70% 40%
    }
}
.banner {
    width: 100%;
    min-height: 100vh;
    clear: both;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23222222' points='800 100 0 200 0 800 1600 800 1600 200'/%3E%3Cpolygon fill='%23444444' points='800 200 0 400 0 800 1600 800 1600 400'/%3E%3Cpolygon fill='%23666666' points='800 300 0 600 0 800 1600 800 1600 600'/%3E%3Cpolygon fill='%23888888' points='1600 800 800 400 0 800'/%3E%3Cpolygon fill='%23aaaaaa' points='1280 800 800 500 320 800'/%3E%3Cpolygon fill='%23cccccc' points='533.3 800 1066.7 800 800 600'/%3E%3Cpolygon fill='%23EEE' points='684.1 800 914.3 800 800 700'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    padding: 80px 0;
}
.banner .banner-img {
    max-width: 300px;
    max-height: 300px;
    margin: 0 auto;
    border-radius: 100%;
}
.banner .banner-img .avatar {
    /* top: 0;
    bottom: 0;
    left: 0;
    right: 0; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation: avatar 8s ease-in-out infinite 1s;
    background-blend-mode: multiply;
    -webkit-box-shadow: 0 0 0 9px rgb(255 255 255 / 30%);
    -moz-box-shadow: 0 0 0 9px rgba(255,255,255,.3);
    box-shadow: 0 0 0 9px rgb(255 255 255 / 30%);
}

.banner-content h1{
    font-size: 50px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 19px;
    color: #ddd;
}
.banner-content p {
    color: #fff;
    font-family: montserrat;
    font-weight: 600;
}
.banner-content span.intro{
    font-size: 18px;
    font-weight: 700;
    color: #fff;
}
.prt-btn {
    background-color: #fff;
    padding: 15px 35px;
    font-size: 16px;
    font-weight: 600;
}
.banner-content a span{
    padding-right: 10px;
}